.salesSection {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    padding: 80px 66px;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 46px;
            color: rgba(18, 41, 82, 1)
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        li{
            width: 416px;
            img{
                width: 416px;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}