.blueButton{
            height: 50px;
            width: 170px;
            background-color: rgba(33, 63, 116, 1);
            border-radius: 25px;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 500;
}