.AboutSection{
    width: 100%;
    height: 70vh;
    background-image: url(../../assets/mainn.jpg);
    background-size: cover;
    color: white;
    position: relative;
    .AboutText{
        position: absolute;
        bottom: 10vh;
        left: 30vh;
        width: 40%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h1{
            font-size: 56px;
        }
        p{
            font-size: 16px;
        }
    }
}