.cat_section{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 90vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    .four_sec{
        height: 644px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.category {
  &_1, &_4{
    width: 306px;
    height: 310px;
    margin: 20px;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .content {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    }
  }
  &_2, &_3{
    width: 526px;
    height: 310px;
    margin: 20px;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .content {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    }
  }

  &_5 {
    width: 416px;
    height: 644px;
    margin: 20px;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .content {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    }
  }
  
}